.Posição1{
    background-color: rgb(129, 204, 250);

}

.Titulo{
     border-style:  groove;
}

.Posição3{
    background-color: rgb(129, 204, 250);
}
.numero{
    background-color: rgb(129, 204, 250);
}